---
- name: Install requirements
  ansible.builtin.apt:
    name:
      - git
      - vim
      - neovim
      - zip
    state: present
- name: Install LazyVim
  block:
    - name: Create install directory
      ansible.builtin.file:
        path: /home/{{ ansible_user | default('ubuntu') }}/.config/nvim
        state: directory
        mode: "0700"
    - name: Download LazyVim
      ansible.builtin.unarchive:
        src: https://github.com/LazyVim/starter/tarball/{{ lazyvim_starter_version }}
        dest: "/home/{{ ansible_user | default('ubuntu') }}/.config/nvim"
        remote_src: true
        creates: /home/{{ ansible_user | default('ubuntu') }}/.config/nvim/README.md
        extra_opts: [--strip-components=1]
- name: Install Extensions
  block:
    - name: Ensure Documents folder exists
      ansible.builtin.file:
        state: directory
        path: "/home/{{ ansible_user | default('ubuntu') }}/Documents"
        mode: "0700"
    - name: Clone Dotfiles repository
      ansible.builtin.git:
        repo: https://github.com/artemis-beta/dotfiles.git
        dest: "/home/{{ ansible_user | default('ubuntu') }}/Documents/dotfiles"
        version: "{{ lazyvim_dotfiles_version }}"
        recursive: true
    - name: Set remote to be SSH
      ansible.builtin.lineinfile:
        path: "/home/{{ ansible_user | default('ubuntu') }}/Documents/dotfiles/.git/config"
        regexp: '^\s*url = .*$'
        line: 'url = git@github.com:artemis-beta/dotfiles.git'
        insertafter: '^\[remote "origin"\]'
    - name: Symlink required files into LazyVim
      vars:
        nvim_dir: "/home/{{ ansible_user | default('ubuntu') }}/.config/nvim"
      ansible.builtin.include_tasks: symlink_files.yml
      loop:
        - lua
        - pack
        - init.lua
- name: Set alias in Zshrc
  ansible.builtin.lineinfile:
    regexp: '^alias vim =.*$'
    line: 'alias vim = "nvim"'
    path: "/home/{{ ansible_user | default('ubuntu') }}/.zshrc"
